@charset "UTF-8";
h1 {
  color: #daaf47; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

header {
  color: white;
  font-size: 14px; }

.navbar.navbar-dark.bg-dark {
  background-color: black !important; }

.navbar-toggler:hover {
  border-color: #daaf47;
  color: #daaf47; }

.navbar-brand {
  padding-left: 12px; }

a {
  text-decoration: none;
  color: white; }

.navbar-nav .nav-link.active {
  color: #daaf47; }

footer {
  background-color: #daaf47;
  text-align: center;
  padding: 10px; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      list-style: none;
      display: inline; }
      footer ul li a {
        font-size: 28px;
        color: black;
        margin: 20px;
        box-shadow: 20px black; }
        footer ul li a:hover {
          color: white; }
  footer p {
    margin: 15px 0;
    font-size: 14px; }

.palabra-resaltada {
  font-weight: 700; }

/* map */
h1 {
  font-family: "Great Vibes"; }

h2 {
  font-family: "Montserrat"; }

/* extend */
.portada-home-button, .boton-enviar {
  padding: 10px 15px;
  font-size: 18px;
  background-color: black;
  border-color: #daaf47;
  color: #daaf47; }
  .portada-home-button:hover, .boton-enviar:hover {
    color: white;
    background-color: #daaf47;
    border-color: #daaf47;
    transform: scale(1.1); }

.boton-enviar {
  margin-top: 25px;
  width: 85%; }

/* Estilo de página Index */
section {
  padding: 50px 25px;
  text-align: center; }
  section h2 {
    padding-bottom: 40px;
    font-size: 26px;
    font-style: italic; }

.portada-home {
  background-image: url(../images/fondo.jpeg);
  background-size: cover; }
  .portada-home h1 {
    font-size: 65px;
    color: #daaf47; }
  .portada-home p {
    padding-top: 30px;
    padding-bottom: 70px;
    font-size: 15px;
    color: white; }

.portadas h1 {
  font-size: 52px;
  color: #daaf47;
  text-shadow: 15px 15px 5px black; }

.portadas p {
  padding-top: 40px;
  font-size: 15px;
  color: white; }

#filosofia {
  background-color: #daaf47; }
  #filosofia p {
    margin-bottom: 30px;
    font-size: 15px; }

#testimonios {
  background-color: black; }
  #testimonios h2 {
    color: #daaf47; }

.card {
  background-color: #daaf47;
  margin-bottom: 30px; }
  .card p {
    color: black;
    font-size: 15px; }

.card-img-top {
  height: 30vh;
  object-fit: cover; }

/* Estilo de página Tratamientos */
#portada-tratamientos {
  background-image: url(../images/tratamientos.jpg);
  background-size: cover; }
  #portada-tratamientos p {
    font-size: 15px;
    color: white; }

#contenedor-tratamientos {
  background-color: black;
  padding: 25px; }

.card-tratamiento {
  border: solid 3px #daaf47;
  border-radius: 7px;
  margin: 20px auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
  box-shadow: 5px 5px 10px #daaf47; }
  .card-tratamiento:hover {
    transform: scale(1.1); }
  .card-tratamiento h2 {
    color: #daaf47;
    margin-bottom: 10px; }
  .card-tratamiento img {
    width: 100%;
    height: 250px; }

/* Estilo de página Quiénes Somos */
#portada-quienes-somos {
  background-image: url(../images/quienes-somos.jpg);
  background-size: cover; }

#nuestro-staff {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px; }
  #nuestro-staff h2 {
    color: #daaf47;
    font-size: 35px; }
  #nuestro-staff p {
    margin: 0 auto 45px;
    width: 80%; }

/* Estilo de página Productos */
#portada-productos {
  background-image: url(../images/productos.jpg);
  background-size: cover; }

.contenedor-grid-productos {
  background-color: black;
  display: grid;
  grid-auto-flow: column;
  column-gap: 15px;
  overflow-x: auto;
  padding: 0px 25px; }

.producto {
  text-align: center;
  border: solid 2px #daaf47;
  border-radius: 7px;
  margin: 30px 0px; }
  .producto:hover {
    transform: translateY(13px); }
  .producto img {
    height: 250px; }
  .producto p {
    margin: 20px;
    color: white;
    font-size: 15px; }
  .producto h2 {
    font-size: 25px;
    margin-top: 10px;
    color: #daaf47; }

/* Estilo de página Contacto */
#portada-contacto {
  background-image: url(../images/contacto.jpg);
  background-size: cover; }

#contenedor-contacto {
  background-color: black; }

#formulario {
  margin-top: 35px;
  text-align: center; }
  #formulario .form-field {
    text-align: left; }
  #formulario .form-label {
    color: #fff; }
  #formulario input {
    height: 40px; }

.form-floating > label {
  padding: 0rem 0.75rem; }

.form-control:focus {
  box-shadow: unset;
  border-color: #daaf47; }

#datos-de-contacto h3 {
  color: #daaf47;
  margin: 20px 0; }

#datos-de-contacto p {
  margin-bottom: 10px;
  color: white; }

#mapa {
  height: 280px;
  width: 100%; }

/* RESPONSIVE Tablet */
@media (min-width: 768px) {
  section {
    padding: 80px 40px; }
  .portadas p {
    width: 60%;
    margin: 0 auto; }
  .portadas h1 {
    font-size: 11vh; }
  /* Index */
  .portada-home {
    height: calc(100vh - 10vh);
    text-align: left; }
    .portada-home h1 {
      font-size: 11vh; }
    .portada-home p {
      width: 40%;
      padding-bottom: 15vh; }
  #filosofia p {
    text-align: start; }
  .card {
    height: 80vh; }
    .card p {
      padding-top: 20px; }
  .card-title {
    padding-top: 20px; }
  /* Tratamientos */
  #portada-tratamientos {
    height: 85vh; }
  .card-tratamiento {
    width: 85%;
    display: flex;
    text-align: left; }
    .card-tratamiento p {
      margin-right: 20px; }
    .card-tratamiento img {
      width: 35%;
      height: 200px; }
  /* Quienes Somos */
  #portada-quienes-somos {
    height: 85vh; }
  /* Contacto */
  #portada-contacto {
    height: 85vh; }
  #formulario {
    margin-top: 0px;
    text-align: left; }
  .boton-enviar {
    width: 30%; } }

/* RESPONSIVE Desktop (min-width 992px) */
@media (min-width: 992px) {
  /* Header */
  .navbar > .container-fluid {
    padding: 0 20px; }
  .navbar-expand-lg .navbar-collapse {
    justify-content: end; }
  .card {
    height: 65vh; }
  /* Tratamientos */
  .card-tratamiento h2 {
    margin-top: 30px; }
  .card-tratamiento p {
    margin-top: 10px; }
  /* Quienes Somos */
  #portada-quienes-somos {
    height: 85vh; }
  .card p {
    padding-top: 0; }
  /* Productos */
  #portada-productos {
    height: 85vh; }
  .contenedor-grid-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    grid-auto-flow: unset; }
  .producto {
    margin: 0px; }
    .producto img {
      height: 350px;
      width: 100%; }
  /* Contacto */
  #mapa {
    height: 380px; } }
