@charset "UTF-8";
/*

node-sass -w sass/ -o css/

*/
h1 {
  color: #daaf47;
  font-family: 'Great Vibes', cursive; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

header {
  color: white;
  font-size: 14px; }

.navbar.navbar-dark.bg-dark {
  background-color: black !important; }

.navbar-brand {
  padding-left: 12px; }

a {
  text-decoration: none;
  color: white; }

.navbar-nav .nav-link.active {
  color: #daaf47; }

footer {
  background-color: #daaf47;
  text-align: center;
  padding: 10px; }
  footer a {
    font-size: 28px;
    color: black;
    margin: 20px;
    box-shadow: 20px black; }
    footer a:hover {
      color: white; }
  footer p {
    margin: 15px 0;
    font-size: 14px; }

.palabraResaltada {
  font-weight: 700; }

/* Estilo de página Index */
section {
  padding: 50px 25px;
  text-align: center; }
  section h2 {
    padding-bottom: 40px;
    font-size: 26px;
    font-style: italic; }

#portadaHome {
  background-image: url(../images/fondo.jpeg);
  background-size: cover;
  color: white; }
  #portadaHome h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    color: #daaf47; }
  #portadaHome p {
    padding-top: 30px;
    padding-bottom: 70px;
    font-size: 15px; }
  #portadaHome button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: black;
    border-color: #daaf47;
    color: #daaf47; }
    #portadaHome button:hover {
      color: white;
      background-color: #daaf47;
      transform: scale(1.1); }

.portadas h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 52px;
  color: #daaf47;
  text-shadow: 15px 15px 5px black; }

.portadas p {
  padding-top: 40px;
  color: white;
  font-size: 15px; }

#filosofia {
  background-color: #daaf47; }
  #filosofia p {
    margin-bottom: 30px;
    font-size: 15px; }

#testimonios {
  background-color: black; }
  #testimonios h2 {
    color: #daaf47; }

.card {
  background-color: #daaf47;
  margin-bottom: 30px; }
  .card p {
    color: black; }

.card-img-top {
  height: 30vh;
  object-fit: cover; }

/* Estilo de página Tratamientos */
#portadaTratamientos {
  background-image: url(../images/tratamientos.jpg);
  background-size: cover; }

#contenedorTratamientos {
  background-color: black;
  padding: 25px; }

.cardTratamiento {
  border: solid 3px #daaf47;
  margin: 20px auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
  box-shadow: 5px 5px 10px #daaf47; }
  .cardTratamiento:hover {
    transform: scale(1.1); }
  .cardTratamiento h2 {
    color: #daaf47;
    margin-bottom: 10px; }
  .cardTratamiento img {
    height: 120px;
    margin-top: 15px; }

/* Estilo de página Quiénes Somos */
#portadaQuienesSomos {
  background-image: url(../images/quienes-somos.jpg);
  background-size: cover; }

#nuestroStaff {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px; }
  #nuestroStaff h2 {
    color: #daaf47;
    font-size: 35px; }
  #nuestroStaff p {
    margin-bottom: 45px; }

/* Estilo de página Productos */
#portadaProductos {
  background-image: url(../images/productos.jpg);
  background-size: cover; }

.contenedorProductos {
  background-color: black;
  padding: 25px; }

.card-body {
  margin: 30px 0px;
  color: white; }

/* Estilo de página Contacto */
#portadaContacto {
  background-image: url(../images/contacto.jpg);
  background-size: cover; }

#contenedorContacto {
  background-color: black; }

#formulario {
  margin-top: 35px; }
  #formulario input {
    height: 40px; }

.form-floating > label {
  padding: 0rem 0.75rem; }

.form-control:focus {
  border-color: #daaf47; }

#botonEnviar {
  background-color: black;
  border-color: #daaf47;
  color: #daaf47;
  font-size: 18px;
  margin-top: 25px; }
  #botonEnviar:hover {
    color: white;
    background-color: #daaf47;
    transform: scale(1.1); }

#datosDeContacto h3 {
  color: #daaf47;
  margin: 20px 0; }

#datosDeContacto p {
  margin-bottom: 10px;
  color: white; }

/* RESPONSIVE Tablet */
@media (min-width: 768px) {
  section {
    padding: 80px 40px; }
  .portadas p {
    width: 60%;
    margin: 0 auto; }
  .portadas h1 {
    font-size: 11vh; }
  /* Index */
  #portadaHome {
    height: calc(100vh - 10vh);
    text-align: left; }
    #portadaHome h1 {
      font-size: 11vh; }
    #portadaHome p {
      width: 40%;
      padding-bottom: 15vh; }
  .card {
    height: 627px; }
  /* Tratamientos */
  #portadaTratamientos {
    height: 85vh; }
  .cardTratamiento {
    width: 85%;
    display: flex;
    text-align: left; }
  /* Quienes Somos */
  #portadaQuienesSomos {
    height: 85vh; }
  /* Contacto */
  #portadaContacto {
    height: 85vh; }
  #formulario {
    margin-top: 0px; } }

/* RESPONSIVE Desktop (min-width 992px) */
@media (min-width: 992px) {
  /* Header */
  .navbar > .container-fluid {
    padding: 0 20px; }
  .navbar-expand-lg .navbar-collapse {
    justify-content: end; }
  /* Index */
  .card {
    height: 532px; }
  /* Quienes Somos */
  #portadaQuienesSomos {
    height: 85vh; }
  /* Productos */
  #portadaProductos {
    height: 85vh; } }
