/*
cd
cd Desktop/estetica-GiulianaMigliorisi/
node-sass -w sass/ -o css/

*/

@import "variables";


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}


header {
  color: $primary-white;
  font-size: 14px;
}

.navbar.navbar-dark.bg-dark {
  background-color: $primary-black !important;
}


.navbar-brand {
  padding-left: 12px;
}


a {
  text-decoration: none;
  color: $primary-white;
}


.navbar-nav .nav-link.active {
  color: $primary-golden;
}


footer {
  background-color: $primary-golden;
  text-align: center;
  padding: 10px;

  a {
    font-size: 28px;
    color: $primary-black;
    margin: 20px;
    box-shadow: 20px $primary-black;

    &:hover {
      color: $primary-white;
    }
  }

  p {
    margin: 15px 0;
    font-size: 14px;
  }
}

.palabraResaltada {
  font-weight: 700;
}



/* Estilo de página Index */


section {
  padding: 50px 25px;
  text-align: center;

  h2 {
    padding-bottom: 40px;
    font-size: 26px;
    font-style: italic;

  }
}


#portadaHome {
  background-image: url(../images/fondo.jpeg);
  background-size: cover;
  color: $primary-white;

  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    color: $primary-golden;
  }

  p {
    padding-top: 30px;
    padding-bottom: 70px;
    font-size: 15px;
  }

  button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: $primary-black;
    border-color: $primary-golden ;
    color: $primary-golden;

    &:hover {
      color: $primary-white;
      background-color: $primary-golden;
      transform: scale(1.1);
    }
  }
}



.portadas {
  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 52px;
    color: $primary-golden;
    text-shadow: 15px 15px 5px $primary-black;
  }


  p {
    padding-top: 40px;
    color: $primary-white;
    font-size: 15px;
  }

}


#filosofia {
  background-color: $primary-golden;

  p {
    margin-bottom: 30px;
    font-size: 15px;
  }
}

#testimonios {
  background-color: $primary-black;

  h2 {
    color: $primary-golden;
  }

}

.card {
  background-color: $primary-golden;
  margin-bottom: 30px;

  p {
    color: $primary-black;
  }

}

.card-img-top {
  height: 30vh;
  object-fit: cover;
}


/* Estilo de página Tratamientos */


#portadaTratamientos {
  background-image: url(../images/tratamientos.jpg);
  background-size: cover;
}


#contenedorTratamientos {
  background-color: $primary-black;
  padding: 25px;
}


.cardTratamiento {
  border: solid 3px $primary-golden;
  margin: 20px auto;
  padding: 20px;
  color: $primary-white;
  text-align: center;
  font-size: 15px;
  box-shadow: 5px 5px 10px $primary-golden;

  &:hover {
    transform: scale(1.1);
  }


  h2 {
    color: $primary-golden;
    margin-bottom: 10px;

  }


  img {
    height: 120px;
    margin-top: 15px;

  }

}

/* Estilo de página Quiénes Somos */


#portadaQuienesSomos {
  background-image: url(../images/quienes-somos.jpg);
  background-size: cover;

}

#nuestroStaff {
  background-color: $primary-black;
  color: $primary-white;
  text-align: center;
  font-size: 15px;

  h2 {
    color: $primary-golden;
    font-size: 35px;
  }

  p {
    margin-bottom: 45px;
  }
}

/* Estilo de página Productos */


#portadaProductos {
  background-image: url(../images/productos.jpg);
  background-size: cover;
}


.contenedorProductos {
  background-color: $primary-black;
  padding: 25px;
}


.card-body {
  margin: 30px 0px;
  color: $primary-white;
}


/* Estilo de página Contacto */


#portadaContacto {
  background-image: url(../images/contacto.jpg);
  background-size: cover;
}


#contenedorContacto {
  background-color: $primary-black;
}


#formulario {
  margin-top: 35px;

  input {
    height: 40px;
  }
}


.form-floating>label {
  padding: 0rem 0.75rem;
}


.form-control:focus {
  border-color: $primary-golden;
}


#botonEnviar {
  background-color: $primary-black;
  border-color: $primary-golden ;
  color: $primary-golden;
  font-size: 18px;
  margin-top: 25px;

  &:hover {
    color: $primary-white;
    background-color: $primary-golden;
    transform: scale(1.1);
  }
}


#datosDeContacto {
  h3 {
    color: $primary-golden;
    margin: 20px 0;
  }
  
  p {
    margin-bottom: 10px;
    color: $primary-white;
  }
}



@import "media-queries" 