/* MOBILE FIRST  (min-width 360px) */


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}


header {
	background-color: black;
	color: white;
	font-size: 14px;
	display: flex;
	align-items: center;
  justify-content: space-between;	

}


#logo {
	height: 80px;
	margin: 20px 25px;
}


a {
	text-decoration: none;
	color: white;
}


a:hover{
	color: #daaf47;
}


header nav ul li.activo {
	color: #daaf47;
}


nav {
	margin-right: 25px;
}


footer {
	background-color: #daaf47;
	text-align: center;
	padding: 10px;
}

footer a {
	font-size: 28px;
	color: black;
	margin: 20px;
}

footer a:hover {
	color: white;
}

footer p {
	margin: 15px 0;
	font-size: 14px;
}


.palabraResaltada {
	font-weight: 700;
}


/* Estilo de página Index */



#portadaHome {
  background-image: url(./images/fondo.jpeg);
  background-size: cover;
  color: white;
}


section {
		padding: 50px 25px;
		text-align: center;

}


section h2 {
  padding-bottom: 40px;
  font-size: 26px;
  font-style: italic;

}


#portadaHome h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 65px;
	color: #daaf47;
}


#portadaHome p {
	padding-top: 30px;
	padding-bottom: 70px;
	font-size: 15px;
	
}


#portadaHome button {
  padding: 10px 15px;
	font-size: 18px;
	background-color: black;
	border-color: #daaf47 ;
	color: #daaf47;
}


#portadaHome button:hover {
	color: white;
	background-color: #daaf47;
}


.portadas h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 52px;
	color: #daaf47;
}


.portadas p {
	padding-top: 40px;
	color: white;
	font-size: 15px;
}


#filosofia {
	background-color: #daaf47;
}


#filosofia p {
	margin-bottom: 30px;
	font-size: 15px;

}


#testimonios {
	background-color: black;
	color: white;
}


#testimonios img {
	height: 120px;
	width: 120px;
	margin: 15px;
}


.testimonio {
	text-align: center;
	border: solid 2px #daaf47;
  margin-bottom: 25px;
}


.testimonio p {
	font-size: 15px;
	width: 85%;
	margin: 15px auto;
}



/* Estilo de página Tratamientos */


#portadaTratamientos {
  background-image: url(./images/tratamientos.jpg);
  background-size: cover;
}


#contenedorTratamientos {
	background-color: black;
	padding: 25px;
}


.cardTratamiento {
	border: solid 3px #daaf47;
  margin: 20px auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
  
}


.cardTratamiento h2 {
	color: #daaf47;
	margin-bottom: 10px;

}


.cardTratamiento img {
	height: 120px;
	margin-top: 15px;

}



/* Estilo de página Quiénes Somos */


#portadaQuienesSomos {
  background-image: url(./images/quienes-somos.jpg);
  background-size: cover;

}

#nuestroStaff {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 15px;
}

#nuestroStaff h2 {
	color: #daaf47;
	font-size: 35px;
}


#nuestroStaff p {
	margin-bottom: 45px;
}


.cardProfesionales {
	border: solid 2px #daaf47;
  margin: 25px 9px;
}


.cardProfesionales img {
  height: 250px;
  width: 200px;
  margin-top: 20px;
}

.cardProfesionales h3 {
	margin-top: 15px;

}

.cardProfesionales p {
  margin: 20px;

}


/* Estilo de página Productos */


#portadaProductos {
  background-image: url(./images/productos.jpg);
  background-size: cover;

}


.contenedor-grid-productos {
	background-color: black;
	display: grid;
	grid-auto-flow: column;
	column-gap: 15px;
	overflow-x: auto;
	padding: 0px 25px;
}


.producto {
	text-align: center;
	border: solid 2px #daaf47;
  margin: 30px 0px;
}


.producto img {
	height: 250px;
}


.producto p {
	margin: 20px;
	color: white;
	font-size: 15px;
}


.producto h3 {
	margin-top: 10px;
	color: #daaf47;
}


/* Estilo de página Contacto */


#portadaContacto {
  background-image: url(./images/contacto.jpg);
  background-size: cover;

}


#contenedorContacto {
	background-color: black;
	color: white;
	text-align: center;
	padding: 35px 0;

}


#datosDeContacto h3 {
	color: #daaf47;
	margin: 20px 0;

}


#datosDeContacto p {
	margin-bottom: 10px;
}


#formulario {
	margin-top: 45px;
}


#formulario input {
	height: 28px;
}


.campoContacto {
	margin: 15px 0;
	font-size: 15px;

}


#formulario textarea {
	width: 60%;
}


#botonEnviar {
	background-color: black;
	border-color: #daaf47 ;
	color: #daaf47;
	font-size: 18px;
}

#botonEnviar:hover {
	color: white;
	background-color: #daaf47;
}




/* RESPONSIVE Tablet (min-width 760px) */

@media (min-width: 760px) {
	header nav ul li {
		display: inline-block;
		margin-right: 25px;
	}


	nav {
		margin-right: 15px;
	}


	#logo {
		margin: 20px;
		margin-left: 40px;
	}


	section {
		padding: 80px 40px;

	}


	.portadas p {
		width: 60%;
    margin: 0 auto;
	}


	.portadas h1 {
		font-size: 11vh;
	}


	/* Index */

	#portadaHome {
	  height: calc(100vh - 10vh);
	  text-align: left;

	}


	#portadaHome h1 {
		font-size: 11vh;
	}


	#portadaHome p {
		width: 40%;
		padding-bottom: 15vh;
	
	}


	#filosofia p {
		width: 45%;
		margin-bottom: 0px;

	}


	#contenedorFilosofia {
		display: flex;
		justify-content: space-between;
		text-align: left;

	}


	.contenedor-grid-testimonios {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 10px;

	}



	/* Tratamientos */

	#portadaTratamientos {
		height: 85vh;
	 
	}



	.cardTratamiento {
		width: 85%;
		display: flex;
		text-align: left;

	}


	/* Quienes Somos */

	#portadaQuienesSomos {
		height: 85vh;

	}


	.contenedor-grid-profesionales {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	  overflow-x: auto;

	}


	.cardProfesionales {
		margin: 12px 6px;
	}



		/* Contacto */

	#portadaContacto {
		height: 85vh;
	}


	.contenedor-grid-contacto {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		"mapa form"
		"contacto form";

	}


	#mapa {
		grid-area: mapa;
		justify-self: center;

	}


	#formulario {
		grid-area: form;
		grid-column: 2;
		margin: 0px;

	}



	#datosDeContacto {
		grid-area: contacto;


	}


	#formulario input {
		width: 40%;
	}


	#formulario textarea {
		height: 25vh;

	}


}



/* RESPONSIVE Desktop (min-width 1024px) */


@media (min-width: 1024px) {


	/* Quienes Somos */

	#portadaQuienesSomos {
		height: 85vh;

	}


	.contenedor-grid-profesionales {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

	}

	.cardProfesionales {
		margin: 25px 9px;

	}


	/* Productos */

	#portadaProductos {
		height: 85vh;

	}


	.contenedor-grid-productos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
    padding: 40px;
		grid-auto-flow: unset;
	}


	.producto {
		margin: 0px;

	}


}

